@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: "Didact Gothic", sans-serif;
}

.my-container {
  width: 80%;
  margin: auto;
  margin-bottom: 50px;
  min-height: 60vh;
}
